/** fandp start **/
// button start
@buttonFontHeight: 16px; // 按钮-字体-高度
@buttonRadius: 0px; // 按钮-圆角尺寸
@buttonPaddingHorizontal: 20px; // 按钮-左右padding
@buttonIsRoundRadius: 20px; // 圆角按钮-圆角尺寸
@buttonIsRoundPaddingHorizontal: 23px; // 圆角按钮-左右padding
@buttonSizeMediumPaddingVertical: 10px; // 中等按钮-上下padding
@buttonSizeMediumPaddingHorizontal: 20px; // 中等按钮-左右padding
@buttonSizeSmallPaddingVertical: 9px; // 小型按钮-上下padding
@buttonSizeSmallPaddingHorizontal: 15px; // 小型按钮-左右padding
@buttonSizeMiniPaddingVertical: 3px; // 超小按钮-上下padding
@buttonSizeMiniPaddingHorizontal: 8px; // 超小按钮-左右padding
// button end
// input start
@inputBorderRadius: 0px; // 输入框-圆角尺寸
@inputMediumFontSize: 14px; // 中等输入框-字体大小
@inputMediumHeight: 36px; // 中等输入框-高度
@inputMediumLineHeight: 36px; // 中等输入框-行高
@inputSmallFontSize: 13px; // 小型输入框
@inputSmallHeight: 32px; // 小型输入框-高度
@inputSmallLineHeight: 32px; // 小型输入框-行高
@inputMiniFontSize: 12px; // 迷你输入框
@inputMiniHeight: 28px; // 迷你输入框-高度
@inputMiniLineHeight: 28px; // 迷你输入框-行高
// input end
// table start
@tableHoverBackgroundColor: #f2f2f2; // 表格-悬浮-背景颜色
@tableThreadBackgroundColor: #f2f2f2; // 表格-表头-背景颜色
@tableTdPaddingVertical: 5px; // 表格- 每个单元格-上下padding
@tableTdPaddingHorizontal: 0px; // 表格- 每个单元格-左右padding
@tableAlreadyReadTdBackgroundColor: #f2f2f2; // 表格- 已读背景色
// table end
//dialog start
@dialogHeaderBackgroundColor: #FFF; //对话框-头部-背景色
@dialogHeaderFontColor:#303133; //对话框-头部- 字体颜色
@dialogHeaderFontSize: 18px; //对话框-头部- 字体大小
@dialogHeaderBtnCloseColor: #909399; //对话框-头部- 关闭按钮-颜色
@dialogHeaderBtnHoverOrFocusColor: #1E9FFF; //对话框-头部- 关闭按钮-悬浮或聚焦颜色
@dialogHeaderPaddingTop: 20px; //对话框-头部- 上padding
@dialogHeaderPaddingbottom: 10px; //对话框-头部- 下padding
@dialogHeaderPaddingHorizontal: 20px; //对话框-头部- 左右padding

//dialog end
/** fandp end **/



/** zhengcj start **/
//input start
@inputHeight: 40px; // 输入框-高度
//input end
/** zhengcj end **/
