/** fandp start **/
// button start
@buttonFontHeight: 16px; // 按钮-字体-高度
@buttonRadius: 0px; // 按钮-圆角尺寸
@buttonPaddingHorizontal: 20px; // 按钮-左右padding
@buttonIsRoundRadius: 20px; // 圆角按钮-圆角尺寸
@buttonIsRoundPaddingHorizontal: 23px; // 圆角按钮-左右padding
@buttonSizeMediumPaddingVertical: 10px; // 中等按钮-上下padding
@buttonSizeMediumPaddingHorizontal: 20px; // 中等按钮-左右padding
@buttonSizeSmallPaddingVertical: 9px; // 小型按钮-上下padding
@buttonSizeSmallPaddingHorizontal: 15px; // 小型按钮-左右padding
@buttonSizeMiniPaddingVertical: 3px; // 超小按钮-上下padding
@buttonSizeMiniPaddingHorizontal: 8px; // 超小按钮-左右padding
@buttonFocusOrHoverBoxshadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26); //按钮悬浮或聚焦时阴影
// button end
// input start
@inputBorderRadius: 4px; // 输入框-圆角尺寸
@inputMediumFontSize: 14px; // 中等输入框-字体大小
@inputMediumHeight: 36px; // 中等输入框-高度
@inputMediumLineHeight: 36px; // 中等输入框-行高
@inputSmallFontSize: 13px; // 小型输入框
@inputSmallHeight: 32px; // 小型输入框-高度
@inputSmallLineHeight: 32px; // 小型输入框-行高
@inputMiniFontSize: 12px; // 迷你输入框
@inputMiniHeight: 28px; // 迷你输入框-高度
@inputMiniLineHeight: 28px; // 迷你输入框-行高
@inputHoverBorderColor: #C0C4CC; //输入框- 悬浮-边框颜色
@TextareaBorderRaius: 4px; //文本域- 边框圆角
// input end
// table start
@tableHoverBackgroundColor: #f2f2f2; // 表格-悬浮-背景颜色
@tableThreadBackgroundColor: #f2f2f2; // 表格-表头-背景颜色
@tableTdPaddingVertical: 5px; // 表格- 每个单元格-上下padding
@tableTdPaddingHorizontal: 0px; // 表格- 每个单元格-左右padding
@tableAlreadyReadTdBackgroundColor: #f2f2f2; // 表格- 已读背景色
// table end
//dialog start
@dialogHeaderBackgroundColor: #FFF; //对话框-头部-背景色
@dialogHeaderFontColor:#303133; //对话框-头部- 字体颜色
@dialogHeaderFontSize: 18px; //对话框-头部- 字体大小
@dialogHeaderBtnCloseColor: #909399; //对话框-头部- 关闭按钮-颜色
@dialogHeaderBtnHoverOrFocusColor: #1E9FFF; //对话框-头部- 关闭按钮-悬浮或聚焦颜色
@dialogHeaderPaddingTop: 20px; //对话框-头部- 上padding
@dialogHeaderPaddingbottom: 10px; //对话框-头部- 下padding
@dialogHeaderPaddingHorizontal: 20px; //对话框-头部- 左右padding
//dialog end
//tooltip start
@tooltipPopperBackgroundColor: #303133; // 文字提示-popper-背景颜色#303133
@tooltipPopperColor: #FFF; //文字提示-popper-字体颜色
@tooltipPopperBorderRadius: 4px; //文字提示-popper-圆角
@tooltipPopperPadding: 10px; //文字提示-popper-上下左右padding
@tooltipPopperFontSize: 12px; //文字提示-popper-字体大小
@tooltipPopperLineHeight: 1.2; //文字提示-popper-行高
@tooltipPopperMinWidth: 10px; //文字提示-popper-最小宽度
@tooltipButtonFocusOrHoverColor: #1E9FFF;//文字提示-按钮-聚焦或悬浮字体颜色
@tooltipButtonFocusOrHoverBorderColor: #bce2ff;//文字提示-按钮-边框颜色
@tooltipButtonFocusOrHoverBackgroundColor:  #e9f5ff;//文字提示-按钮-背景颜色
//tooltip end
//tabs start
@tabsItemPaddingVertical: 0px; //标签页-item-上下padding
@tabsItemPaddingHorizontal: 20px;//标签页-item-左右padding
@tabsItemHeight: 40px;//标签页-item-高度
@tabsItemLineHeight: 40px;//标签页-item-行高
@tabsItemFontSize: 14px;//标签页-item-字体大小
@tabsItemFontWeight: 500; //标签页-item-字体粗细
@tabsItemColor: #303133;; //标签页-item-字体颜色#303133;
@tabsItemActiveColor: #1E9FFF; //标签页-item-字体激活颜色 #1E9FFF
@tabsItemHoverColor: #1E9FFF; //标签页-item-字体悬浮颜色#1E9FFF
@tabsActiveBarHeight: 2px;// 标签页-下划线-激活高度
@tabsActiveBarBackgroundColor: #1E9FFF;//标签页-下划线-激活背景颜色
@tabsNavHeight: 1px; //标签页-下划线-高度
@tabsNavBgColor: #eee; //标签页-下划线-背景颜色
@tabsActiveBarWidth: 56px;//标签页-下划线-宽度
@tabsBorderCardItemColor: #909399;//卡片标签页-字体颜色#909399
@tabsBorderCardItemHoverColor: #409EFF; //卡片标签页-悬浮字体颜色#409EFF
@tabsBorderCardItemActiveColor: #409EFF;  //卡片标签页-激活字体颜色#409EFF
@tabsBorderCardItemActiveBackgroundColor: #fff;//卡片标签页-激活背景颜色
@tabsBorderCardItemActiveBorderRightColor: #DCDFE6;//卡片标签页-激活右边框颜色
@tabsBorderCardItemActiveBorderLeftColor:  #DCDFE6;//卡片标签页-激活左边框颜色
//tabs end
//el-tag
@tagFontweight: 600; //标签-字体粗细
@tagBoxshadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.15); // 标签-边框阴影
/** fandp end **/



/** zhengcj start **/
//input start
@inputHeight: 40px; // 输入框-高度
//input end
/** zhengcj end **/
