@import "../variable";
.el-button{
  padding: (@inputHeight - @buttonFontHeight)/2 @buttonPaddingHorizontal;
  border-radius: @buttonRadius;
  &.is-round {
    padding: (@inputHeight - @buttonFontHeight)/2 @buttonIsRoundPaddingHorizontal;
    border-radius: @buttonIsRoundRadius;
  }
  &.is-circle {
   padding: (@inputHeight - @buttonFontHeight)/2;
  }
}
.el-button--medium{
  padding: @buttonSizeMediumPaddingVertical @buttonSizeMediumPaddingHorizontal!important;
}
.el-button--small{
  padding: @buttonSizeSmallPaddingVertical @buttonSizeSmallPaddingHorizontal!important;
}
.el-button--mini{
  padding: @buttonSizeMiniPaddingVertical @buttonSizeMiniPaddingHorizontal !important;
}
